<%- include('partials/head') %> 
<body>
  <%- include('partials/header') %> 
  <div class="center view-70">
    <div class="error-404">
      <h1>404</h1>
      <p>Error <strong>404</strong> something went wrong...</p>
    </div>
  </div>
</body>
<%- include('partials/footer') %> 