<%- include('partials/head') %> 
<body>
  <%- include('partials/header') %>
  <div class="center view-70">
    <div class="about">
      <h1>About</h1>
      <p><strong>Books</strong> it's a simple web application to show, create and delete books. Using mongoDB atlas to store the data and mongoose to manage the database.
      Express recive request and send responses in a clean way.</p>
    </div>
    </div>
</body>
<%- include('partials/footer') %> 